<p style="font-size: font-size: 1.5em;">YENDRICS GITHUB PAGINA</p>
<p style="font-size: font-size: 1.17em;">Welkom op mijn github pagina. <br />
Hier host ik al mijn oude projecten op. <br />
Bekijk ze hier:</p>
<p style="font-size: font-size: 0.83em;">
<li>Searchplay: <a href="https://yendric.github.io/searchplay/">https://yendric.github.io/searchplay/</a> </li>
<li>YVR-ONLINE: <a href="https://yendric.github.io/YVR-ONLINE/">https://yendric.github.io/YVR-ONLINE/</a> </li>
<li>TheComputerFriends(Hier vind je de nieuwe: <a href="https://thecomputerfriends.eu">https://thecomputerfriends.eu/</a>): <a href="https://yendric.github.io/tcfwebsite1.0/">https://yendric.github.io/tcfwebsite1.0/</a></li>
</p>
<style type="text/css">
  #main-content {
   width: 100% !important; 
  }
</style>
