<h1>YENDRICS GITHUB PAGINA <br /></h1>
<h4>Welkom op mijn github pagina. <br />
Hier host ik al mijn oude projecten op. <br />
Bekijk ze hier:</h4> <br />
<h6>
<li>Searchplay: <a href="https://yendric.github.io/searchplay/">https://yendric.github.io/searchplay/</a> </li>
<li>YVR-ONLINE: <a href="https://yendric.github.io/YVR-ONLINE/">https://yendric.github.io/YVR-ONLINE/</a> </li>
<li>TheComputerFriends(Hier vind je de nieuwe: https://thecomputerfriends.eu/): <a href="https://yendric.github.io/tcfwebsite1.0/">https://yendric.github.io/tcfwebsite1.0/</a></li>
</h6>
